/*
 * Author: Yoav Zimmerman
 * URL: yoavz.com 
 *
 */

body {
    padding-top: 100px;
    
    background: url(../img/woven.png);
    /* background-repeat: no-repeat; */
    /* background-position: center;  */
    /* background-attachment: fixed; */
}


.centered {
    margin: 0 auto;
}

/* Avatar */

.circular {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

    background: url(http://www.gravatar.com/avatar/224f8deb06a16957848289c33e3ed29e?s=200) no-repeat;
    
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

/* Links */

.links {
    text-align: center;
    padding: 5px 0px;
}

.links a {
    color: inherit;
}

.links i {
    padding: 0px 10px; 
}

.links i:hover {
    color: gray;
}

/* Name */

.name {
    padding: 10px 0px ;
    text-align: center;
}

.letter {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #ffffff;
    
    /* trippy effect discovered by accident */
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

.name p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.name p a {
    color: black;
}

.name p a:hover {
    color: gray;
}
