[submodule "potd"]
	path = potd
	url = https://github.com/yoavz/potd
[submodule "control_dashboard"]
	path = control_dashboard
	url = https://github.com/yoavz/control_dashboard.git
[submodule "tritonal-microsite"]
	path = tritonal-microsite
	url = https://github.com/yoavz/tritonal-microsite.git
